* {
    box-sizing: border-box;

    /* Enabling this will guide you to containers */
    /* border: 1px white solid; */
}

body {
    margin: 0 0;
    font-family: Overpass;
    font-weight: 900;
    color: #ffff;
    background-color: #203F4A;
    overflow: hidden;
}

.content {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

div {
    width: 50%;
    justify-content: center;
}

.title {
    font-size: 2rem;
    margin: 1rem 0;
}

.btn {
    width: 50%;
    border-color: transparent;
    background-color: #2BC1DC;
    border-radius: 2rem;
    text-align: center;
    margin: 2rem 0;
    padding: 1rem 0;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: #203F4A;
    border: 1px white solid;
    transition: 0.5s;
}

@media (max-width: 900px) {
    div {
        width: 100%;
    }

    .btn {
        font-size: 0.8rem;
    }
}